body { background: #1a0fd5; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 34px; display: flex; }
.block-notify-0 { color: #9cc4b; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #814c07; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #ed21c7; font-size: 14px; margin-bottom: 5px; }
.block-database-3 { color: #972729; font-size: 19px; margin-bottom: 5px; }
.block-metrics-4 { color: #48db83; font-size: 12px; margin-bottom: 5px; }
.block-metrics-5 { color: #41f39f; font-size: 20px; margin-bottom: 5px; }
.block-token-6 { color: #ff0d89; font-size: 18px; margin-bottom: 5px; }
.block-sms-7 { color: #96b775; font-size: 17px; margin-bottom: 5px; }